{% extends "base.html" %}
{% block content %}
    <div class="">

        <!-- Main -->
            <section id="main">

                <!-- Banner -->
                    <section id="banner">
                        <div class="inner">
                            <h1>About Us</h1>
                            <ul class="actions">
                                <li><a href="#footer" class="button alt scrolly big">Continue</a></li>
                            </ul>
                        </div>
                    </section>


                <!-- Contact -->
                    <section id="contact">
                        <!-- Social -->
                            <div class="social column">
                                <h3>About Us</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugit unde fuga quaerat repudiandae hic perferendis ipsum animi optio, omnis et inventore qui, soluta accusantium praesentium commodi voluptatibus amet libero?</p>
                            </div>

                        <!-- Form -->
                            <div class="abt column">
                                <h3>Get in Touch</h3>
                                <form action="#" method="post">
                                    <div class="field half first">
                                        <label for="name">Name</label>
                                        <input name="name" id="name" type="text" placeholder="Name">
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input name="email" id="email" type="email" placeholder="Email">
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                                    </div>
                                    <ul class="actions">
                                        <li><input value="Send Message" class="button"></li>
                                    </ul>
                                </form>
                            </div>

                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <div class="copyright">
                            &copy; Untitled Design: <a href="#">TEMPLATED</a>. Images: <a href="#">Unsplash</a>.
                        </div>
                    </footer>
            </section>
    </div>

{% endblock content %}